{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container2">
<div class='row'>

<h1>Login</h1>
<form  method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Entrar' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>


</div>
<hr/>
<div class='row'>

<p>{% trans "Olvidaste tu contraseña" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reseteala" %}</a>!</p>
<p>{% trans "No eres miembro" %}? <a href="{% url 'registration_register' %}">{% trans "Registrate" %}</a>!</p>
</div>

</div>

{% endblock %}
